<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058562584396-jtjoict8i7k2kabshcq30kmuuroej9am.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058562584396-jtjoict8i7k2kabshcq30kmuuroej9am</string>
	<key>API_KEY</key>
	<string>AIzaSyCfO6wA40webgKlfPkPNeHqCLCjiP4evxY</string>
	<key>GCM_SENDER_ID</key>
	<string>1058562584396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zesdro</string>
	<key>PROJECT_ID</key>
	<string>zesdro-e2100</string>
	<key>STORAGE_BUCKET</key>
	<string>zesdro-e2100.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058562584396:ios:2e5959e14dd64f3b77e9e9</string>
</dict>
</plist>